root = true

[*]
end_of_line = lf
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]

dotnet_analyzer_diagnostic.severity = error

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# IDE0160: Convert to file-scoped namespace
csharp_style_namespace_declarations = file_scoped:warning
csharp_using_directive_placement = inside_namespace

# keep 'this.'

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_method = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_property = false:none

# end of 'this.' behavior

# CA1062: Validate arguments of public methods
# dotnet_diagnostic.CA1062.severity = none
dotnet_code_quality.CA1062.null_check_validation_methods = Param|Collection|Dictionary

# IDE0045: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_assignment = true:none

# IDE0046: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_return = false:suggestion

# TODO: temporary disabled, it is buggy: https://github.com/dotnet/roslyn/issues/67531
dotnet_diagnostic.IDE0251.severity = suggestion
