# Tests exclusives
# this is not a root configuration file

[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# IDE0130: Namespace does not match folder structure
# tests never do
dotnet_diagnostic.IDE0130.severity = none
